{% load staticfiles %}
<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">google.load("jquery", "1.3.2");</script> 
    <head>
        <title>Howstr Walkthrough (mobile)</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <style>
    table, th, td {
        padding: 15px;
    }
    </style>
    <body>
        <div class="page-header">
            <h1><a href="/">Howstr Card List</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <h1><b><u>Resources</u></b></h1>
                <div class="col-md-8">
                        <div class="container-outer" style="overflow-x: scroll; width: 100%; height: 100%;">
                           <div class="container-inner" style="width: 100%; height:100%; ">
                               <table>
                               <tr>
                    {% for projectresource in projectresources %}
                                   <td>
                                    <h1>{{ projectresource.resource_card.title }}</h1>
                                    <p>{{ projectresource.resource_card.text|linebreaksbr }}</p>
                                </td>
                    {% endfor %}
                                </tr>
                               <tr>
                    {% for projectresource in projectresources %}
                                   <td>
                                    <img style="max-width:250px;max-height:250px" src="{{ projectresource.resource_card.image.url }}" />
                                </td>
                    {% endfor %}
                                </tr>
                               <tr>
                    {% for projectresource in projectresources %}
                                   <td>
                                    <div style="text-align:center">
                                        <button type="button" class="action-button shadow animate blue" id="id_button_{{ projectresource.resource_card.id }}">-Loading-</button>
                                    </div>
                                </td>
                    {% endfor %}
                                </tr>
                               </table>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <h1><b><u>Steps</u></b></h1>
                <div class="col-md-8">
                        <div class="container-outer" style="overflow-x: scroll; width: 100%; height: 100%;">
                           <div class="container-inner" style="width: 100%; height:100%; ">
                               <table>
                               <tr>
                    {% for projectstep in projectsteps %}
                                   <td>
                                    <h1>{{ projectstep.step_card.title }}</h1>
                                    <p>{{ projectstep.step_card.text|linebreaksbr }}</p>
                                </td>
                    {% endfor %}
                                </tr>
                               <tr>
                    {% for projectstep in projectsteps %}
                                   <td>
                                    <img style="max-width:250px;max-height:250px" src="{{ projectstep.step_card.image.url }}" />
                                </td>
                    {% endfor %}
                                </tr>
                               <tr>
                    {% for projectstep in projectsteps %}
                                   <td>
                                    <div style="text-align:center">
                                        <button type="button" class="action-button shadow animate blue" id="id_button_{{ projectstep.step_card.id }}">-Loading-</button>
                                    </div>
                                </td>
                    {% endfor %}
                                </tr>
                               </table>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <h1><b><u>Results</u></b></h1>
                <div class="col-md-8">
                        <div class="container-outer" style="overflow-x: scroll; width: 100%; height: 100%;">
                           <div class="container-inner" style="width: 100%; height:100%; ">
                               <table>
                               <tr>
                    {% for projectresult in projectresults %}
                                   <td>
                                    <h1>{{ projectresult.result_card.title }}</h1>
                                    <p>{{ projectresult.result_card.text|linebreaksbr }}</p>
                                </td>
                    {% endfor %}
                                </tr>
                               <tr>
                    {% for projectresult in projectresults %}
                                   <td>
                                    <img style="max-width:250px;max-height:250px" src="{{ projectresult.result_card.image.url }}" />
                                </td>
                    {% endfor %}
                                </tr>
                               <tr>
                    {% for projectresult in projectresults %}
                                   <td>
                                    <div style="text-align:center">
                                        <button type="button" class="action-button shadow animate blue" id="id_button_{{ projectresult.result_card.id }}">-Loading-</button>
                                    </div>
                                </td>
                    {% endfor %}
                                </tr>
                               </table>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var csrf_token = '{% csrf_token %}';
            $("body").bind("ajaxSend", function(elm, xhr, s) {
               if (s.type == "POST") {
                  xhr.setRequestHeader('X-CSRF-Token', csrf_token);
               }
            });
        </script>
        <script type="text/javascript">
            function load_checkbox(card_id) {
                $.ajax({
                    type: 'get', 
                    url: 'checkbox/what/'+card_id,
                    dataType: "json",
                    success: function(data) {
                        button = $("#id_button_"+card_id);
                        if(data.checkbox) {
                            button.text("YES");
                            button.addClass("green").removeClass("blue");
                        } else {
                            button.text("NO");
                            button.addClass("blue").removeClass("green");
                        }
                    }
                });
            }
            function update_checkbox(text,card_id) {
                if(text=="YES") {
                    $.ajax({
                        type: 'get', 
                        url: 'checkbox/no/'+card_id,
                        dataType: "json",
                        success: function(data) {
                            button = $("#id_button_"+card_id);
                            button.text("NO");
                            button.addClass("blue").removeClass("green");
                        }
                    });
                } else {
                    $.ajax({
                        type: 'get', 
                        url: 'checkbox/yes/'+card_id,
                        dataType: "json",
                        success: function(data) {
                            button = $("#id_button_"+card_id);
                            button.text("YES");
                            button.addClass("green").removeClass("blue");
                        }
                    });
                }
            }
        </script>
        {% for projectresource in projectresources %}
            <script type="text/javascript">
                load_checkbox("{{ projectresource.resource_card.id }}");
                $("#id_button_{{ projectresource.resource_card.id }}").click(function() {
                    $(this).blur();
                    update_checkbox($(this).text(),"{{ projectresource.resource_card.id }}");
                });
            </script>
        {% endfor %}
        {% for projectstep in projectsteps %}
            <script type="text/javascript">
                load_checkbox("{{ projectstep.step_card.id }}");
                $("#id_button_{{ projectstep.step_card.id }}").click(function() {
                    $(this).blur();
                    update_checkbox($(this).text(),"{{ projectstep.step_card.id }}");
                });
            </script>
        {% endfor %}
        {% for projectresult in projectresults %}
            <script type="text/javascript">
                load_checkbox("{{ projectresult.result_card.id }}");
                $("#id_button_{{ projectresult.result_card.id }}").click(function() {
                    $(this).blur();
                    update_checkbox($(this).text(),"{{ projectresult.result_card.id }}");
                });
            </script>
        {% endfor %}
    </body>
</html>